.pregunta {
    margin: 30px auto;
    text-align: center;
    margin-top: 50px;
    color: white;

    .titulo-pregunta {
        font-size: 28px;
    }

    .opciones-preguntas {
        margin: 30px auto;
        width: 50%;
        text-align: left;
        font-size: 18px;
    }
}
